[Unit]
Description=CMPF manager
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=LD_LIBRARY_PATH=/opt/cmpf/lib /opt/cmpf/bin/manager
WorkingDirectory=/opt/cmpf
Restart=on-failure
RestartSec=3
TimeoutStartSec=15
# 资源/权限配置
CPUQuota=50%
MemoryLimit=1G
User=cmpf
Group=cmpf
StandardOutput=journal
StandardError=journal
KillMode=control-group

[Install]
WantedBy=multi-user.target